<dc-header></dc-header>

<form [formGroup]="form" (submit)="send()" novalidate>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-error>
      <dc-validation-errors [control]="form.get('name')"></dc-validation-errors>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error>
      <dc-validation-errors [control]="form.get('email')"></dc-validation-errors>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Send</button>
</form>
